html, body { 
    height: 100%;
    background-image: url(images/white-waves.png); 
}

header{
    position: relative;
    width: 960px;
    margin: auto;
}

.header{
    display: center;
    background-color:#4aaaa5;
    width: 1060px;
    position: relative;
    bottom:20px;
    height: 70px;
}

h1{
    background-color:#4aaaa5;
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    width: 1060px;
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 26px 0px;
}
.nav{
    display: inline-block;
    position: absolute;
    right:1px;
    top:20%;
    float: right;
    list-style-type:none;
    padding: 4px 8px;
}

.nav:hover{
    background-color: aquamarine;
}

ul{
    display: inline-block;  
}

li{
    float: left;
    list-style-type:none;
    font-size: 25px;
}


a{
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:20px;
    color:#1f1f1f;
}

p{
    font-size:25px;
}

.vertical-line{
    width: 0px;
    height: 100%;
    float: left; 
    border: solid 1px #ffffff; 
    margin: 0px 10px;
    padding: 1px 0px;
    margin-top: 2px;
  }

hr{
    margin: 0;
    border: solid 1px #cccccc;
}

section{
    width: 750px;
    display: inline-block;
    border: 1px solid #dddddd;
    margin:40px 0px;
    padding: 0px 20px; 
}

.Whitebox{
    background-color: white;
    width: 750px;
    display: inline-block;
    border: 10px solid #ffffff;
    margin:40px 0px;
    padding: 0px 20px;
}
.profile-picture{
    margin: 0px 0px 0px 40px;
    float: right;
    height: 30%;
    width:20%;
    }

.caption{
    color: #4aaaa5;
}

.Feature{
    width: 100%;
    height: 75%;
    margin: 0px 0px 0px 40px;
    float: right;
}

.mywork{
    width: 75%;
    height: 50%;
    margin: 0px 0px 0px 40px;
    float: left;
}