/* Added a background image */
html, body { 
    height: 100%;
    background-image: url(../images/white-waves.png); 
}

/* Added header color and alinement  */
header{
    display: flex;
    width: 100%;
    height: 100px;
    margin: auto;
    background-color: #4aaaa5;
    flex-direction: row;
}

h1{
    color:#000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    display: flex;
    width: 75%;
    justify-content: flex-end;
    align-items: center;



}
nav{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
    
ul{
    display: inline-block;  
}

li{
    float: left;
    list-style-type:none;
    font-size: 25px;
}


a{
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:25px;
    color:#1f1f1f;
}

p{
    font-size:25px;
}

.vertical-line{
    width: 0px;
    height: 100%;
    float: left; 
    border: solid 1px #ffffff; 
    margin: 0px 10px;
    padding: 1px 0px;
    margin-top: 2px;
  }

section{
    width: 750px;
    display: inline-block;
    margin:40px 0px;
    padding: 0px 20px; 
}
/* Changed the size of profile picture */
.profile-picture{
    margin: 0px 0px 0px 40px;
    float: right;
    height: 40%;
    width:30%;
    }

.caption{
    color: #000000;
}
/* Main project size and alinement */
.feature{
    width: 100%;
    height: 75%;
    margin: 0px 0px 0px 40px;
    float: right;
}
/* Secondary porject size and alinement */
.mywork{
    width: 75%;
    height: 50%;
    margin: 0px 0px 0px 40px;
    float: left;
}
/* Alinement of main content */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Lining the word to the center of the page */
.portfolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Alinement of the contact informatiion */
footer{
    display: flex;
    justify-content: space-between;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact > *{
    padding-right: 20px;
}